* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav */
.nav-container {
  position: sticky;
  top: 0;
  z-index: 99 !important;
  background-color: white;
}

.nav-ul {
  z-index: 100 !important;
}

.logo {
  height: 60px;
}

.nav-ul li a {
  margin: 10px;
  text-decoration: none;
  color: #7300a0;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.2s;
  padding: 7px 15px;
  border-radius: 20px;
}

.nav-ul li a:hover {
  font-size: 18px;
  color: #9c00da;
}

.nav-active {
  background-color: #7300a0;
  color: white !important;
}

#navButton {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  color: #7300a0;
  border: none;
  font-size: 25px;
}
/* End Nav */

/* Index */
.carousel-item img {
  height: 300px;
}

.search-container {
  position: relative;
}

.search-container button {
  position: absolute;
}

.search-container input {
  padding-left: 35px;
}

/* Carousel Styles */
.carousel {
  position: relative;
  height: 800px;
  margin: 0 auto;
}

.carousel__track-container {
  padding: 10px;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.carousel__image-container {
  height: 600px;
  width: 100%;
}

.carousel__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel__headline-container {
  font-weight: 700;
  font-size: 2em;
  padding: 10px 40px;
  transform: translateY(-100%);
  background-color: #7300a059;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.carousel__headline-container a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
  transition: 0.25s;
}

.carousel__headline-container a:hover {
  text-decoration: none;
  color: rgb(223, 223, 223);
}

.one-line {
  top: 60%;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 300ms ease-in;
}

.carousel__slide {
  position: absolute;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -0px;
  z-index: 70;
}

.carousel__button--right {
  right: -0px;
}

.carousel__button img {
  width: 80px;
  opacity: 0.6;
}

.carousel-data-container {
  position: absolute;
  margin-top: 20px;
  padding-left: 20px;
}

.italic {
  font-style: italic;
}

.by-name {
  font-weight: bold;
}

.carousel__caption-container {
  margin-top: 10px;
}

.is-hidden {
  display: none;
}

/* footer */
.footer {
  background-color: #7300a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.Copyright {
  color: white;
  margin-top: 30px;
}
/* end footer */

/* End Index */

/* Articles Card */
.card-content-container {
  width: 500px;
  height: 650px;
  margin: auto;
}

.card-content-container img {
  height: 300px;
}

.btn-go-sw {
  background-color: #7300a0;
  color: white;
}
/* End of Articles Card */

/* Form */
.form {
  position: relative;
  max-width: 700px;
  margin: auto;
}

.logo-in-form {
  height: 65px;
  width: 200px;
}

.input-container-container {
  justify-content: center;
}

.input-container {
  position: relative;
  margin: 10px;
  margin-top: 30px;
}

.input-container label {
  position: absolute;
  background-color: white;
  padding: 0px 10px;
  top: -10px;
  left: 13px;
  pointer-events: none;
  font-size: 13px;
}

.input-container input,
.input-container select {
  width: 250px;
}

.input-container input::placeholder {
  color: rgba(115, 0, 160, 0);
}

.input-checkbox {
  margin: auto;
  margin-top: 30px;
}

.invalid-feedback {
  position: absolute;
  width: 500px;
  pointer-events: none;
  font-size: 12px;
}

.btnSubmitForm {
  width: 100px;
  color: white;
  background-color: #7300a0;
  margin: auto;
}

.btnSubmitForm:hover {
  color: white;
  background-color: #9c00da;
}

.contacts-links-container {
  width: 100%;
}
/* End of Form */

/* About */
#imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-image-container {
  margin: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
}

.single-image-container img {
  width: 300px;
  border-radius: 10px;
}

.btn-view-profile {
  width: 100px;
  margin: auto;
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  background-color: #7300a0;
  color: white;
}

.btn-view-profile:hover {
  background-color: #9c00da;
  color: white;
}
/* End of About */

/* Projects */
.headlines__preview__tag {
  font-weight: 700;
  margin-bottom: 0.25em;
  font-style: italic;
  color: #5b00a0;
}

.headlines__preview__headline {
  font-weight: bold;
  font-size: 2em;
}

.headlines__preview__headline a {
  text-decoration: none;
  color: black;
}

.headlines__preview__headline a:hover {
  text-decoration: underline;
}

.headlines__preview__content {
  width: 90%;
}

.latest__issue__tag {
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3em;
  font-weight: 600;
  background: #7300a0;
  width: fit-content;
  padding: 0 18px;
  color: white;
  border-radius: 15px;
}

.latest__issue--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1200px;
}

.latest__issue {
  border-radius: 1em;
}
/* End of Projects */

/* Login */
.frm-login {
  max-width: 400px;
  margin-top: 20vh;
}
/* End of Login */

/* Admin */
.admin-main-container .nav-item .active{
  background-color: #5b00a0;
}

.article-photo {
  height: 70px;
}

.btn-open-add-article-modal {
  background-color: #5b00a0;
  border: none;
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 600;
}
/* End of Admin */

/* global */
.tags {
  background-color: #7300a0;
  padding: 10px;
  color: white;
  font-size: 1rem;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: auto;
}

.tags:hover {
  background-color: #63008a;
  color: rgb(240, 240, 240);
}

.btn-login {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #5b00a0;
  color: white;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-login span {
  background-color: rgba(255, 255, 255, 0.863);
  color: black;
  font-size: 12px;
  position: absolute;
  top: -20px;
  right: 0;
  border-radius: 1px;
  padding: 5px;
  z-index: 98;
  pointer-events: none;
  opacity: 0;
}

.alert {
  position: fixed;
  z-index: 10000000;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
}
/* global */

@media (max-width: 520px) {
  .footer-links-container {
    flex-direction: column;
    font-size: 12px;
  }

  .Copyright {
    border-top: 1px solid white;
    padding: 10px 20px;
    font-size: 12px;
  }

  .footer img {
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .card-content-container {
    height: auto;
  }
}

@media (max-width: 992px) {
  .nav-ul {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
    width: 250px;
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  .nav-ul li {
    position: relative;
    margin: 5px;
  }

  .nav-ul li a {
    margin: 0;
    display: block;
    font-size: 25px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .nav-ul li a i {
    margin-right: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 5px rgb(226, 226, 226); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .nav-ul li a:hover {
    font-size: 25px;
    background-color: rgb(235, 235, 235);
  }

  .nav-active:hover {
    background-color: #7300a0 !important;
    color: white !important;
  }

  .nav-active i {
    color: #7300a0 !important;
  }

  #navButton {
    display: block;
  }
}
